.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    &__picture--desktop{
        display: none;
    }
    &__picture--mobile{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 95%;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 5px 5px 10px $black_color;
        img{
            width: 100%;
        }
    }

    &__text{
        width: 95%;
        text-align: center;
        margin-top: 25px;
        font-family: 'Lato', sans-serif;
    }
    &__header{
        font-size: 2.4rem;
        line-height: 2.9rem;
        font-weight: 700;
    }
    &__paragraph{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.9 rem;
        margin-top: 25px;
    }
}
