.cards{
    &__container{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        border-radius: 10px;
        margin-top: 3.5rem;
        width: 70%;
        min-height: 420px;
        background-color: $card-background-color;
        box-shadow: 5px 5px 8px $black_color;
        padding: 0.5rem 1.5rem;
    }
    &__card:last-child{margin-bottom: 5rem;}
    &__card-header{
        color: $black_color;
        font-weight: 700;
        font-size: 3.6rem;
        font-family: 'Smooch Sans', sans-serif;
        border-radius: 10px;
        padding: 2rem;
    }
    &__card-text{
        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
        padding: 1rem;
    }
    &__card-button{
        display: block;
        width: 70%;
        margin: 1rem auto;
        font-size: 2rem;
        font-family: 'Smooch Sans', sans-serif;
        font-weight: 700;
        padding: 0.8rem 2rem;
        background-color: $black_color;
        color: $white-color;
        border-radius: 10px;
        border: none;
         &:focus{
            outline: none;
            background-color: $white-color;
            color: $black-color;
            box-shadow:0 0 8px $black-color;
        }
    }
}
@media (min-width: 992px){
    .cards{
    &__container{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__card{
        width: 40%;
    }
    &__card:last-child{margin-bottom: 0;}
    &__card-header{
        font-size: 3.8rem;
    }
    &__card-text{
        font-size: 1.8rem;
    }
    &__card-button{
        font-size: 2.2rem;
    }
}
}
@media (min-width: 1200px){
 .cards{
    &__container{
        margin-top: 10rem;
        margin-bottom: 12rem;
    }
    &__card{
        width: 30rem;
        transition: transform 0.3s;
        &:hover{
            transform: scale(1.05);
        }
    }
    &__card-header{
        font-size: 3.6rem;
    }
    &__card-text{
        font-size: 1.6rem;
    }
    &__card-button{
        font-size: 2rem;
        cursor: pointer;
        transition:color 0.5s, background-color 0.5s, box-shadow 0.5s;
         &:hover{
        background-color: $white-color;
        color: $black-color;
        box-shadow:0 0 8px $black-color;
        }
        &:hover:focus{
            background-color: $black-color;
            color: $white-color;
        }
    }
}
}